.BoardPage {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1240px;
  height: 100vh;
  padding-bottom: 40px;
}

/* button */

.EditorDiv {
  text-align: end;
  margin-top: 15px;
}

.EditorButton {
  cursor: pointer;
  border: none;

  background-color: #363636;
  border-color: #363636;
  color: #ffffff;
  border-width: 1px;
  padding: 8px 20px;
  font-size: 12px;
  border-radius: 2px;

  white-space: nowrap;
  /* margin-bottom: 130px; */
}

.click {
  cursor: pointer;
}
