.Board {
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
}

/* button */

.EditorDiv {
  display: flex;
  justify-content: space-between;
}

.listButton {
  cursor: pointer;
  border: none;

  background-color: #363636;
  border-color: #363636;
  color: #ffffff;
  border-width: 1px;
  padding: 8px 20px;
  font-size: 12px;
  border-radius: 2px;

  white-space: nowrap;
}
.listEditorButton {
  cursor: pointer;
  border: none;

  background-color: #363636;
  border-color: #363636;
  color: #ffffff;
  border-width: 1px;
  padding: 8px 20px;
  font-size: 12px;
  border-radius: 2px;

  white-space: nowrap;
}

/* icon */

.detailNum {
  display: flex;
  font-size: 17px;
}

.detailLike {
  margin: 0px 16px 0px 0px;
  padding: 10px 0px;
}
.detailReviews {
  margin: 0px 16px 0px 0px;
  padding: 10px 0px;
}

.icon {
  padding-right: 5px;
}
