.mini_calendar {
  box-sizing: border-box;
  padding: 50px 0 30px 0;

  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
}
.add_container {
  box-sizing: border-box;
  max-width: 750px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  height: 380px;
}
/* 전체 캘린더 크기 */
.react-calendar {
  width: 100%;
  max-width: 432px;
  height: 380px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.react-calendar__navigation {
  height: 60px;
  margin-bottom: 0.7em;
}
/* 날짜 tile */
.react-calendar__tile {
  padding: 0.8em 0 1em 0;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.8em;
}

.react-calendar__navigation__label__labelText {
  font-weight: bold;
  font-size: 20px;
}
.react-calendar__month-view__days__day {
  border: 1px solid black;
}
/* 현재 날짜의 css */
.react-calendar__tile--now {
  background-color: #e6e6e6;
  color: white;
}
.react-calendar__tile {
  text-align: center;
}
/* 클릭되어있는 날짜의 css */
.react-calendar__tile--active {
  background: #e6e6e6;
  color: white;
}
/* 오버라이딩 해야만 적용됨 */
/* 당장 클릭한 날짜에 대한 css */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #e6e6e6;
}
/* 주말 빨간색 글씨 없애기 */
.react-calendar__month-view__days__day--weekend {
  color: #3a3a3a;
}
/* #f8c736 노란색 */

/* 날짜 tile에 대한 가상요소 */
.react-calendar__tile--hasFirstEvent,
.react-calendar__tile--hasSecondEvent {
  position: relative;
}
.react-calendar__tile--hasFirstEvent::before {
  content: '';
  position: absolute;
  bottom: 8px;
  left: calc(50% - 8px);
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
}

.react-calendar__tile--hasSecondEvent::before {
  content: '';
  position: absolute;
  bottom: 8px;
  left: calc(50% + 2px);
  width: 6px;
  height: 6px;
  background-color: #f8c736;
  border-radius: 50%;
}
.react-calendar__navigation__label > span {
  color: #134f2c;
}
.dot {
  height: 8px;
  width: 8px;
  background-color: #f87171;
  border-radius: 50%;
  display: flex;
  margin-left: 1px;
}
.triangle {
  height: 6px;
  width: 6px;
  background-color: #f8c736;
  border-radius: 50%;
  display: flex;
  margin-left: 1px;
}

/* 메인 캘린더 */
.big_calendar_container .react-calendar {
  /* width: 100%;
  max-width: 1240px; */
  border: none;
  max-width: 1240px;
  height: 100%;
  margin: 0 auto;
}

.big_calendar_container .react-calendar .react-calendar__tile {
  padding: 1em 0 1em 0;
  border-top: 0.5px solid black;
  /* height: 100px; */

  /* border-right: 0.5px solid black; */
}

.big_calendar_container {
  margin-top: 40px;
  /* position: relative;
  z-index: 2; */
}
.big_calendar_container .react-calendar__month-view__weekdays__weekday {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  padding: 16px 0;
}
.big_calendar_container .react-calendar__month-view__weekdays__weekday > abbr {
  text-decoration: none;
  color: rgb(114, 114, 114);
}
.big_calendar_container .react-calendar__tile {
  text-align: left;
  position: relative;
  z-index: 2;
}
/* 당장 클릭한 날짜에 대한 css */
.big_calendar_container .react-calendar__tile:enabled:hover,
.big_calendar_container .react-calendar__tile:enabled:focus {
  background: none;
}
/* 클릭되어있는 날짜의 css */
.big_calendar_container .react-calendar__tile--active {
  background-color: white;
  color: black;
}
/* 현재 날짜의 css */
.big_calendar_container .react-calendar__tile--now {
  background-color: white;
  color: black;
}

/* 달력 상단 년/월 글씨 커스텀 */
.big_calendar_container .react-calendar__navigation__label > span {
  color: #3a3a3a;
  font-family: SUIT Variable;
  font-size: 25px;
  font-weight: 500;
  line-height: 140%;
}

/* 날짜별 정보 */
.current_calendar {
  width: 432px;
  height: 380px;
  border: 1px solid black;
  overflow-y: scroll;
}
.current_calendar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #134f2c;
  font-weight: bold;
}

.whole_btn {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
  cursor: pointer;
}
.big_calendar_container .react-calendar__navigation__label > span {
  padding: 10px;
  border-radius: 15px;
  background-color: #134f2c;
  color: white;
  font-size: 20px;
}

.date_contents_container {
  height: 150px;
  padding: 10px 0;
}

.date_contents {
  margin-bottom: 5px;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a4d9fc;
  position: relative;
  z-index: 3;
}

.date_contents_act {
  background-color: rgb(252, 213, 141);
}
/* 모달 창 작업 */
.date_contents .contents_modal {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 0;
  border: 1px solid black;
  z-index: 900;
  background-color: white;
}
.date_contents_0 {
  background-color: #ebf7bc;
  /* background-color: rgb(168, 236, 231); */
}
.date_contents_1 {
  background-color: #e7cee9;
}
.date_contents_2 {
  background-color: #fecfbf;
}
.date_contents_3 {
  background-color: #f9bac6;
}
.date_contents_4 {
  background-color: #fcf1b7;
}
.date_contents_5 {
  background-color: #dde6f8;
}
.calendar_heart {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  position: absolute;
  z-index: 900;
}
.calendar_heart:checked {
  background-color: red;
}
.react-calendar__tile > abbr {
  color: rgb(114, 114, 114);
}
/* react-calendar__tile react-calendar__month-view__days__day  */
/* 달력 버튼 선택자, 메인과 미니 캘린더의 클래스 네임이 같아서 중복 클릭되는 문제 해결하기 */
.select_date {
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
}
.select_input {
  margin-left: 30px;
}
.select_date > div:hover {
  border: 1px solid #134f2c;
}
.select_date > div {
  border: 1px solid rgb(165, 165, 165);
  padding: 5px 10px;
  border-radius: 10px;
}
.select_button {
  color: white;
  padding: 5px 8px;
  border-radius: 10px;
  background-color: #134f2c;
}
.mini_calendar_container .react-calendar__month-view__weekdays__weekday > abbr {
  text-decoration: none;
  color: rgb(114, 114, 114);
}
.mini_calendar .react-calendar__tile > abbr {
  color: rgb(114, 114, 114);
}
.modal_button {
  background-color: #ff635d;
  color: white;
  padding: 7px;
  font-size: 15px;
}
.modal_button:hover {
  background-color: white;
  color: #ff635d;
  border: 1px solid #ff635d;
}
