.mini_calendar {
  box-sizing: border-box;
  padding: 50px 0;
  border-bottom: 1px solid black;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
}
.add_container {
  box-sizing: border-box;
  width: 700px;
  border: 1px solid black;
}
.react-calendar {
  width: 100%;
  max-width: 500px;
  height: 350px;
}
.react-calendar__navigation {
  height: 60px;
  margin-bottom: 0.7em;
}
.react-calendar__tile {
  padding: 0.8em 0 1em 0;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.8em;
}
.react-calendar__navigation__label__labelText {
  font-weight: bold;
  font-size: 20px;
}
.react-calendar__month-view__days__day {
  border: 1px solid black;
}
/* 현재 날짜의 css */
.react-calendar__tile--now {
  background-color: #e6e6e6;
  color: white;
}
.react-calendar__tile {
  text-align: center;
}
/* 클릭되어있는 날짜의 css */
.react-calendar__tile--active {
  background: #e6e6e6;
  color: white;
}
/* 오버라이딩 해야만 적용됨 */
/* 당장 클릭한 날짜에 대한 css */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #e6e6e6;
}
/* #f8c736 노란색 */

/* 날짜 tile에 대한 가상요소 */
.react-calendar__tile--hasFirstEvent,
.react-calendar__tile--hasSecondEvent {
  position: relative;
}
.react-calendar__tile--hasFirstEvent::before {
  content: '';
  position: absolute;
  bottom: 8px;
  left: calc(50% - 8px);
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
}

.react-calendar__tile--hasSecondEvent::before {
  content: '';
  position: absolute;
  bottom: 8px;
  left: calc(50% + 2px);
  width: 6px;
  height: 6px;
  background-color: #f8c736;
  border-radius: 50%;
}
.dot {
  height: 6px;
  width: 6px;
  background-color: #f87171;
  border-radius: 50%;
  display: flex;
  margin-left: 1px;
}
.triangle {
  height: 6px;
  width: 6px;
  background-color: #f8c736;
  border-radius: 50%;
  display: flex;
  margin-left: 1px;
}

/* 메인 캘린더 */
.big_calendar_container .react-calendar {
  /* width: 100%;
  max-width: 1240px; */

  max-width: 1200px;
  height: 500px;
  margin: 0 auto;
}
