/* 댓글 */
.CommentImg {
  display: flex;
}

.CommentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  border-top: 1px solid #ececec;
}

.CommentItem {
  padding: 24px 0px 0px;
}

.UserProfile img {
  padding: 0px 16px 0px 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.CommentTop {
  display: flex;
  font-size: 13px;
}
.CommentBottom {
  padding: 8px 0px 0px;
  font-size: 15px;
}

.CommentTime {
  padding: 0px 0px 0px 5px;
  color: #36363680;
}

.profileBox {
  padding: 0px 16px 0px 0px;
}

/* 대댓글 */
.BigCommentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 24px;

  border-top: 1px solid #ececec;
}
.Arrow {
  display: flex;
  justify-content: center; /*가운데정렬*/
  align-items: center;
  padding-left: 24px;
  padding-right: 18px;
}
.BigCommentItem {
  padding: 24px 0px 0px;
}

.BigCommentArrow {
  display: flex;
  padding-left: 20px;
}
.BigCommentTop {
  display: flex;
  font-size: 13px;
}
.BigCommentBottom {
  padding: 8px 0px 0px;
  font-size: 15px;
}

.BigCommentTime {
  padding: 0px 0px 0px 5px;
  color: #36363680;
}

.profileBox {
  padding: 0px 16px 0px 0px;
}

/* 댓글 작성 */
.CommentBox {
  height: 106px;
  position: relative;
  padding: 16px;
  margin: 30px 0px 0px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 3px;
  margin-bottom: 24px;
}

.CommentInput {
  border: none;
  width: 100%;
  outline-style: none;
  resize: none;
  overflow-y: hidden !important;
  padding: 0;
  background: transparent;
  vertical-align: top;
  border-radius: 3px 3px 0 0;
  margin-bottom: 12px;
  min-height: 62px;
}
.CommentButton {
  cursor: pointer;
  background-color: #363636;
  border-color: #363636;
  color: #ffffff;
  border-width: 1px;
  padding: 8px 20px;
  font-size: 12px;
  border-radius: 2px;
  float: right;
}

/* 답글 */
.ReplyButton_top {
  all: unset;
  cursor: pointer;
  margin: 8px 8px 0px 0px;
  font-size: 12px;
  color: #757575;
}

.EditButton {
  all: unset;
  cursor: pointer;
  margin: 8px 0px 0px;
  font-size: 12px;
  color: #757575;
}

.DeleteButton {
  all: unset;
  cursor: pointer;
  margin: 8px 0px 0px;
  font-size: 12px;
  color: #757575;
}

.ReplyButton {
  cursor: pointer;
  background-color: #363636;
  border-color: #363636;
  color: #ffffff;
  border-width: 1px;
  padding: 8px 20px;
  font-size: 12px;
  border-radius: 2px;
  float: right;
}

.ReplyInput {
  border: none;
  width: 100%;
  outline-style: none;
  resize: none;
  overflow-y: hidden !important;
  padding: 0;
  background: transparent;
  vertical-align: top;
  border-radius: 3px 3px 0 0;
  margin-bottom: 12px;
  min-height: 62px;
}

.CommentForm {
  height: 106px;
  position: relative;
  padding: 16px;
  margin-top: 10px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 3px;
}

.modifyInput {
  border: none;
  width: 100%;
  outline-style: none;
  resize: none;
  overflow-y: hidden !important;
  padding: 0;
  background: transparent;
  vertical-align: top;
  border-radius: 3px 3px 0 0;
  margin-bottom: 4px;
  min-height: 62px;
}
