.EditorCancel {
  cursor: pointer;
  border: none;

  background-color: #363636;
  border-color: #363636;
  color: #ffffff;
  border-width: 1px;
  padding: 8px 20px;
  font-size: 12px;
  border-radius: 2px;

  white-space: nowrap;
}

.inputTitle {
  width: 100%;
  margin: 0 auto;
  resize: none;
  /* margin-bottom: 4rem; */
}
