.Pages .main {
  display: flex;
  width: 100%;
  height: 60px;

  background-color: white; /* 배경색 추가 */
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;

  padding: 10px 0px;
}

.Pages .column {
  width: 1170px;
  height: 60px;
  /* display: flex; */
}

.Pages .space {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.Pages .left {
  width: 75px;
  height: 60px;
}
.Pages img {
  width: 60px;
  height: 60px;
}

.Pages .title {
  font-size: 14px;
}

.Pages .bottom {
  display: flex;

  font-size: 12px;
  color: #363636b3;
}

.Pages li {
  margin: 8px 0px 0px;
  padding: 0px 10px 0px 0px;
}

.Pages .icon {
  padding: 0px 5px 0px 0px;
}

/* Button */

.EditorDiv {
  text-align: end;
  margin-top: 15px;
}

.EditorButton {
  cursor: pointer;
  border: none;

  background-color: #363636;
  border-color: #363636;
  color: #ffffff;
  border-width: 1px;
  padding: 8px 20px;
  font-size: 12px;
  border-radius: 2px;

  white-space: nowrap;
}
